/*

Author: Joniel da Silva
Author URI: https://jonieldasilva.com
Tags: Website

*/
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,regular,500,600,700");
@font-face {
  font-family: "TT Bluescreens Light";
  src: url("TTBluescreens-Light.eot");
  /* IE9 Compat Mod  es */
  src: url("TTBluescreens-Light.eot?#iefix") format("embedded-opentype"), url("TTBluescreens-Light.woff") format("woff"), url("TTBluescreens-Light.ttf") format("truetype"), url("TTBluescreens-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  background-color: #f2ecdc;
  margin: 15px;
}

nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

nav p {
  text-transform: uppercase;
  color: #f2ecdc;
  font-family: Raleway;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  font-size: 8px;
}

@-webkit-keyframes example {
  from {
    background-color: #f2ecdc;
  }
  to {
    background-color: #25afba;
  }
}

@keyframes example {
  from {
    background-color: #f2ecdc;
  }
  to {
    background-color: #25afba;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  height: 80vh;
  background: url(../img/ornament.svg) no-repeat;
  background-color: #25afba;
  background-size: 500px;
  background-position: -100px 200px;
}

header * {
  color: #f2ecdc;
}

header h1 {
  font-family: "TT Bluescreens Light";
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
  line-height: 0.9em;
  margin-bottom: 10px;
}

header .signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%;
}

header .linha {
  margin: 0 20px;
  height: 1px;
  width: 100px;
  background-color: #f2ecdc;
}

header h4 {
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 200;
}

section {
  height: 500px;
}

.services {
  background-color: #1a81a8;
}

.depos {
  background-color: #25afba;
}

.articles {
  background: #f07168;
}

.contact {
  background-color: #333333;
}

footer {
  background-color: #1a81a8;
}

/* font-style font-variant font-weight font-size/line-height font-family*/
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  nav {
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
  }
  #signlogo {
    width: 200px;
  }
  header {
    background-size: 350px;
    background-position: -100px 300px;
    padding: 0 10px;
    height: 500px;
  }
  header h1 {
    font-size: 50px;
    text-shadow: 0 0 40px #1a81a8;
  }
  header .signature {
    width: 80%;
  }
  header .linha {
    margin: 0 10px;
    height: 1px;
    width: 40px;
    background-color: #f2ecdc;
  }
}
/*# sourceMappingURL=main.css.map */