/*

Author: Joniel da Silva
Author URI: https://jonieldasilva.com
Tags: Website

*/
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,regular,500,600,700");
@font-face {
  font-family: "TT Bluescreens Thin";
  src: url("TTBluescreens-Thin.eot");
  /* IE9 Compat Mod  es */
  src: url("TTBluescreens-Thin.eot?#iefix") format("embedded-opentype"), url("TTBluescreens-Thin.woff") format("woff"), url("TTBluescreens-Thin.ttf") format("truetype"), url("TTBluescreens-Thin.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  visibility: visible;
  font-family: Raleway;
  background-color: #f2ecdc;
  margin: 15px;
}

/*nav {
  position: absolute;
  display: flex;
  padding: 20px 30px;
  // background-color: black;
  justify-content: center;
  align-items: center;
  margin: 0;
  p {
    text-transform: uppercase;
    color: $color1;
    font-family: Raleway;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
    font-size: 8px;
  }
}*/
@-webkit-keyframes example {
  from {
    background-color: #f2ecdc;
  }
  to {
    background-color: #25afba;
  }
}
@keyframes example {
  from {
    background-color: #f2ecdc;
  }
  to {
    background-color: #25afba;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  height: 90vh;
  /*header sem ornamento*/
  /*header com ornamento*/
  background: url(../img/ornament.svg) no-repeat, url(../img/bg1.jpg) no-repeat;
  background-color: #25afba;
  background-size: 40vh, cover;
  background-position: -100px 60vh, center center;
}

header * {
  color: #f2ecdc;
}

header .logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 200px;
}

header .logo p {
  text-transform: uppercase;
  color: #f2ecdc;
  font-family: Raleway;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  font-size: 8px;
}

header .headergroup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  top: 100px;
}

header h1 {
  font-family: "TT Bluescreens Thin";
  text-transform: uppercase;
  font-size: 5em;
  text-align: center;
  line-height: 0.9em;
  margin-bottom: 10px;
}

header .quote-signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .linha {
  margin: 0 20px;
  height: 1px;
  width: 100px;
  background-color: #f2ecdc;
}

header h4 {
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 200;
}

main {
  background-color: #f2ecdc;
}

main .intro-section {
  padding: 100px 100px 200px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .intro-section .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 40px;
  background-color: #25afba;
  background: url(../img/didi.jpg) no-repeat;
  background-size: cover;
  border: 5px solid #25afba;
}

main .intro-section p {
  color: #585858;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
  line-height: 1.5em;
}

main .intro-section p strong {
  color: #1a81a8;
}

main .service-section {
  background-color: #25afba;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .service-section h1 {
  font-weight: 200;
  color: #f2ecdc;
  font-size: 60px;
}

/* font-style font-variant font-weight font-size/line-height font-family*/
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  #logosign {
    width: 200px;
  }
  header {
    padding: 0 10px;
    height: 500px;
  }
  header .logo {
    top: 10px;
  }
  header .headergroup {
    top: 20px;
  }
  header h1 {
    font-size: 50px;
  }
  header .quote-signature {
    width: 80%;
  }
  header .linha {
    margin: 0 10px;
    height: 1px;
    width: 40px;
    background-color: #f2ecdc;
  }
  main .intro-section {
    padding: 50px 24px 70px;
  }
  main .intro-section .avatar {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
  }
  main .intro-section p {
    font-size: 14px;
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */