/*

Author: Joniel da Silva
Author URI: https://jonieldasilva.com
Tags: Website 

*/
@import "fontawesome.scss";
@import "_icons.scss";
@import "solid.scss";
@import "brands.scss";
@font-face {
  font-family: "TT Bluescreens Thin";
  src: url("TTBluescreens-Thin.eot"); /* IE9 Compat Mod  es */
  src: url("TTBluescreens-Thin.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("TTBluescreens-Thin.woff") format("woff"),
    /* Modern Browsers */ url("TTBluescreens-Thin.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("TTBluescreens-Thin.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,regular,500,600,700");

$color0: #fff;
$color1: #f2ecdc;
$color2: #1a81a8;
$color3: #25afba;
$color4: #f07168;
$color5: #333333;
$color6: #585858;

$indent: 50px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color6;
  font-family: Raleway;
}
body {
  visibility: visible;
  font-family: Raleway;
  background-color: $color1;
  margin: 15px;
}
/*nav {
  position: absolute;
  display: flex;
  padding: 20px 30px;
  // background-color: black;
  justify-content: center;
  align-items: center;
  margin: 0;
  p {
    text-transform: uppercase;
    color: $color1;
    font-family: Raleway;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
    font-size: 8px;
  }
}*/
/* GENERAL SETTINGS */
h1 {
  text-align: center;
}
h4 {
  text-align: center;
  // font-family: Raleway;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}
button {
  // background-color: #fff;
  display: inline;
  padding: 15px 20px;
  color: $color3;
  border: 1px solid $color3;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
  border-radius: 5px;
}
.section-title {
  font-weight: 200;
  font-size: 60px;
  margin-bottom: 10px;
}
.negative {
  color: $color1;
}
.positive {
  color: $color3;
}

button:hover {
  cursor: pointer;
  color: $color1;
  background-color: $color3;
}
@keyframes example {
  from {
    background-color: $color1;
  }
  to {
    background-color: $color3;
  }
}
@mixin flex-section() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  position: sticky;
  @include flex-section;
  justify-content: flex-start;
  top: 15px;
  z-index: 0;
  animation-name: example;
  animation-duration: 1s;
  height: calc(100vh - 30px);
  background: url(../img/ornament.svg) no-repeat, url(../img/bg1.jpg) no-repeat;
  background-position: -100px 60vh, center center;
  background-size: 50vh, cover;
  background-color: $color3;
  * {
    color: $color1;
    position: relative;
  }
  .logo {
    @include flex-section;
    // justify-content: space-between;
    position: relative;
    margin: 0 auto;
    top: 20px;
    height: 100px;
    width: 200px;

    p {
      text-transform: uppercase;
      color: $color1;
      font-family: Raleway;
      font-weight: 300;
      text-align: center;
      letter-spacing: 6px;
      font-size: 9px;
      margin-top: 5px;
    }
  }
  .headergroup {
    @include flex-section;
    justify-content: center;
    // height: 300px;
    top: 100px;
    margin-bottom: 150px;
  }
  h1 {
    font-family: "TT Bluescreens Thin";
    text-transform: uppercase;
    font-size: 5em;
    text-align: center;
    line-height: 0.9em;
    margin-bottom: 10px;
    // text-shadow: 0 0 40px $color2;
  }
  .quote-signature {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // width: 30%;
  }
  .linha {
    margin: 0 20px;
    // content: "";
    height: 1px;
    width: 100px;
    background-color: $color1;
  }
  .arrow-down {
    bottom: 20px;
  }
}
main {
  /********** INTRO SECTION *********/
  .intro-section {
    position: sticky;
    @include flex-section;
    background-color: $color1;
    top: 0;
    z-index: 10;
    padding: 100px 100px 200px 100px;
    justify-content: center;
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin-bottom: 40px;
      background-color: $color3;
      background: url(../img/didi.jpg) no-repeat;
      background-size: cover;
      border: 5px solid $color3;
    }
    p {
      strong {
        color: $color2;
      }
      color: $color6;
      font-weight: 200;
      text-align: center;
      font-size: 1.1em;
      line-height: 1.6em;
      letter-spacing: 0.01em;
    }
    a {
      background-color: white;
      color: $color3;
      font-weight: 300;
      font-size: 0.9em;
      border-radius: 5px;
      padding: 0 0.5em;
      text-decoration: none;
    }
    a:hover {
      opacity: 0.7;
      background-color: $color3;
      color: $color1;
    }
  }
  /********** SERVICE SECTION *********/
  .service-section {
    position: sticky;
    @include flex-section;
    z-index: 20;
    top: 0;
    background-color: $color3;
    padding: 100px 100px 100px 100px;
    // height: 700px;
    * {
      color: $color1;
    }

    h4 {
      margin-bottom: 100px;
    }
    .service-list {
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 1rem;
      color: $color1;

      ul {
        li {
          display: block;
          // width: 200px;
          margin-bottom: 10px;
          font-weight: 400;
          font-size: 1.1em;
        }
        @extend %fa-icon;
        @extend .fas;
        li:before {
          @extend %fa-icon;
          @extend .fas;
          content: fa-content($fa-var-check);
          display: inline-block;
          color: $color1;
          padding: 0 6px 0 0;
        }
      }
    }
  }
  /********** ARTICLE SECTION *********/
  .article-section {
    position: sticky;

    z-index: 30;
    top: -5500px;
    padding: 100px 100px 100px 100px;
    background-color: $color1;
    h1 {
      font-weight: 200;
      font-size: 50px;
      margin-bottom: 10px;
      color: $color3;
      margin-bottom: 40px;
    }
    h4 {
      text-align: left;
    }
    p {
      color: #585858;
      font-weight: 200;
      // text-align: center;
      font-size: 18px;
      line-height: 1.8em;
    }
    .collapsed-text {
      // padding: 0 18px;
      display: none;
      overflow: hidden;
      // background-color: #f1f1f1;
    }
  }
  /********** TESTIMONIAL SECTION *********/
  .testimonials-section {
    position: sticky;
    @include flex-section;
    padding: 100px 100px 100px 100px;
    z-index: 40;
    top: -1000px;
    background: url(../img/gabriella_profile.png) no-repeat;
    background-position: bottom right;
    background-size: 50vh;
    background-color: $color3;
    h4 {
      color: $color1;
      margin-bottom: 50px;
    }
    .cards {
      display: grid;
      // align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 1rem;
      // color: $color1;
      margin-bottom: 100px;
      article {
        @include flex-section;
        border-radius: 10px;
        background-color: #fff;
        padding: 30px;
        .avatar {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: $color1;
          border: 5px solid $color3;
          margin-bottom: 30px;
        }
        p {
          text-align: center;
          color: $color6;
          font-weight: 200;
          font-size: 0.8em;
        }
        .card-depo::before {
          content: open-quote;
          color: $color6;
          opacity: 0.5;
          font-family: "";
          font-size: 4em;
          font-family: serif;
          line-height: 0.1em;
          // margin-right: 0.25em;
          vertical-align: -0.1em;
        }
        .card-depo::after {
          color: $color3;
          content: close-quote;
          font-family: "";
          font-size: 1.5em;
          font-family: serif;
          line-height: 0.1em;
          // margin-right: 0.25em;
          vertical-align: -0.2em;
        }
        .author {
          font-weight: 600;
          margin-top: 30px;
        }
        .profession {
          font-weight: 300;
          text-transform: uppercase;
          font-size: 0.6em;
        }
      }
    }
  }
  /********** CONTACT SECTION *********/
  .contact-section {
    position: sticky;
    @include flex-section;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    // grid-gap: 1rem;
    padding: 100px;
    background-color: $color1;
    color: $color3;
    z-index: 40;

    h1 {
      // margin-bottom: 100px;
      font-size: 50px;
    }
    h4 {
      margin-bottom: 50px;
      color: $color3;
    }
    form {
      display: flex;
      flex-direction: column;

      // @include flex-section;
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Raleway;
        font-size: 0.8em;
      }
      textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-family: Raleway;
        font-size: 0.8em;

        // resize: none;
      }

      // input[type="submit"] {
      //   width: 100%;
      //   background-color: #4caf50;
      //   color: white;
      //   padding: 14px 20px;
      //   margin: 8px 0;
      //   border: none;
      //   border-radius: 4px;
      //   cursor: pointer;
      // }
      button {
        width: 100%;
        background-color: $color3;
        color: $color1;
        margin-bottom: 40px;
      }
      button:hover {
        width: 100%;
        background-color: $color0;
        color: $color3;
      }
      // input[type="submit"]:hover {
      //   background-color: #45a049;
      // }
      // background-color: $color4;
      width: 50%;
    }
    .phone {
      // background-color: red;
      width: 100%;
      text-align: center;
      font-family: Raleway;
      font-size: 1.1em;
      display: inline;
      &::before {
        display: inline;
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-phone-square);
        font-size: 1.33em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.1em;
      }
      a {
        color: $color3;
        text-decoration: none;
      }
    }
  }
}
footer {
  @include flex-section;
  justify-items: center;
  position: relative;
  margin: 0 auto;
  top: 20px;
  height: 150px;
  width: 200px;

  p {
    text-transform: uppercase;
    color: $color1;
    font-family: Raleway;
    font-weight: 300;
    text-align: center;
    letter-spacing: 6px;
    font-size: 9px;
    margin-top: 5px;
  }
}
/* font-style font-variant font-weight font-size/line-height font-family*/

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  // nav {
  //   margin: 0 auto;
  //   padding: 50px 0;
  //   width: 100%;
  // }
  #logosign {
    width: 200px;
  }
  header {
    // background-size: 350px, cover;
    // background-position: -100px 300px, 0;
    padding: 0 10px;
    height: 500px;
    // .ornamento {
    //   position: absolute;
    //   width: 300px;
    //   top: 400px;
    //   left: 0;
    // }
    .logo {
      top: 10px;
    }
    .headergroup {
      top: 20px;
    }
    h1 {
      font-size: 50px;
    }
    .quote-signature {
      width: 80%;
    }
    .linha {
      margin: 0 10px;
      height: 1px;
      width: 40px;
      background-color: $color1;
    }
  }
  main {
    // padding: 50px 24px 70px;
    .intro-section {
      padding: 50px 24px 70px;
      .avatar {
        width: 70px;
        height: 70px;
        margin-bottom: 30px;
      }

      p {
        font-size: 14px;
        text-align: left;
      }
    }
    .service-section {
      padding: 50px 24px 100px 24px;

      h1 {
        font-size: 40px;
      }
      // h4 {
      //   margin-bottom: 20px;
      // }
      .service-list {
        grid-gap: 0;
      }
      li {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
    .article-section {
      h1 {
        font-size: 40px;
      }

      p {
        font-size: 14px;
      }
    }
    .article-section,
    .testimonials-section {
      padding: 50px 24px 100px 24px;
    }
  }
  .title-negative {
    font-size: 40px;
  }
}
