/*

Author: Joniel da Silva
Author URI: https://jonieldasilva.com
Tags: Website

*/
@font-face {
  font-family: "TT Bluescreens Thin";
  src: url("TTBluescreens-Thin.eot"); /* IE9 Compat Mod  es */
  src: url("TTBluescreens-Thin.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("TTBluescreens-Thin.woff") format("woff"),
    /* Modern Browsers */ url("TTBluescreens-Thin.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("TTBluescreens-Thin.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,regular,500,600,700");

$color1: #f2ecdc;
$color2: #1a81a8;
$color3: #25afba;
$color4: #f07168;
$color5: #333333;
$indent: 50px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  visibility: visible;
  font-family: Raleway;
  background-color: $color1;
  margin: 15px;
}
nav {
  position: absolute;
  display: flex;
  padding: 20px 30px;
  // background-color: black;
  justify-content: center;
  align-items: center;
  margin: 0;
  p {
    text-transform: uppercase;
    color: $color1;
    font-family: Raleway;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
    font-size: 8px;
  }
}

@keyframes example {
  from {
    background-color: $color1;
  }
  to {
    background-color: $color3;
  }
}
header {
  * {
    color: $color1;
  }

  display: flex;
  position: sticky;
  top: 0;
  z-index: -1;
  // align-items: center;
  justify-content: center;
  // flex-direction: column;
  animation-name: example;
  animation-duration: 1s;
  height: 90vh;
  background: url(../img/bg1.jpg) no-repeat;
  background-color: $color3;
  background-size: cover;
  background-position: center center;
  // background: url(../img/ornament.svg) no-repeat, url(../img/bg1.jpg) no-repeat;
  // background-color: $color3;
  // background-size: 90vh, cover;
  // background-position: -100px 200px, center center;
  // padding: 0 20%;
  // .ornamento {
  //   position: absolute;
  //   width: 400px;
  //   top: 40vh;
  //   left: 0;
  // }
  .headergroup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    top: 200px;
  }
  h1 {
    font-family: "TT Bluescreens Thin";
    text-transform: uppercase;
    font-size: 5em;
    text-align: center;
    line-height: 0.9em;
    margin-bottom: 10px;
    text-shadow: 0 0 40px $color2;
  }
  .signature {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // width: 30%;
  }
  .linha {
    margin: 0 20px;
    // content: "";
    height: 1px;
    width: 100px;
    background-color: $color1;
  }
  h4 {
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
  }
}
main {
  background-color: $color1;
  padding: 70px 100px;
  .intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin-bottom: 40px;
      background-color: $color3;
      background: url(../img/didi.jpg) no-repeat;
      background-size: cover;
      border: 5px solid $color3;
    }
    p {
      strong {
        color: $color2;
      }
      color: #585858;
      font-weight: 300;
      text-align: center;
      font-size: 24px;
      line-height: 1.5em;
    }
  }
}

/* font-style font-variant font-weight font-size/line-height font-family*/

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  nav {
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
  }
  #signlogo {
    width: 200px;
  }
  header {
    // background-size: 350px, cover;
    // background-position: -100px 300px, 0;
    padding: 0 10px;
    height: 500px;
    // .ornamento {
    //   position: absolute;
    //   width: 300px;
    //   top: 400px;
    //   left: 0;
    // }
    .headergroup {
      top: 100px;
    }
    h1 {
      font-size: 50px;
    }
    .signature {
      width: 80%;
    }
    .linha {
      margin: 0 10px;
      height: 1px;
      width: 40px;
      background-color: $color1;
    }
  }
  main {
    padding: 50px 24px 70px;
    .intro-section {
      .avatar {
        width: 70px;
        height: 70px;
        margin-bottom: 30px;
      }
      p {
        font-size: 14px;
        text-align: left;
      }
    }
  }
}
